<div id="user_nav">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
  <% end %>
</div>

<h2 class="site-title">HEADER</h2>

<div class="site-text"> 
	<p>bla bla bla bla bla</p>
</div>


<table height="99%" id="homeTable">
	<tr>
		<td rowspan="2" style="width: 444px; table-layout: fixed">
			<h2 class="site-title">Overview</h2>
			<div id="chartdiv"></div>
		</td>
		<td>
			<h2 class="site-title">Last Activities</h2>
		</td>
	</tr>
	<tr>
		<td>
			<h2 class="site-title">Shoutbox</h2>
		</td>
	</tr>
</table>