<%= link_to "TEST LOG OUT", root_path %>

<hr>

<br><br>

<h2 class="site-title">HEADER</h2>

<div class="site-text"> 
	<p>bla bla bla bla bla</p>
</div>


<table height="99%" id="homeTable">
	<tr>
		<td rowspan="2" style="width: 444px; table-layout: fixed">
			<h2 class="site-title">Overview</h2>
			<div id="chartdiv"></div>
		</td>
		<td>
			<h2 class="site-title">Last Activities</h2>
		</td>
	</tr>
	<tr>
		<td>
			<h2 class="site-title">Shoutbox</h2>
		</td>
	</tr>
</table>