<h2 class="site-title">TASK MANAGEMENT</h2>

<div class="site-text"> 
	<h3 class="site-title">What are tasks?</h3>
	<p>The tasks you have to create represent all activities your roomies can carry out. <br>For instance: cleaning up or go shopping - at least two roomies should benefit from it, otherwise you could can do it by your own for yourself! :)</p>
</div>


<table height="99%" width="100%" id="homeTable">
	<tr>
		<td>
			<h2 class="site-title">Task list</h2>
		</td>
		<td>
			<h2 class="site-title">Create new task</h2>
			<div class="placeholder"></div>
			<div>
				<form method="post" action="" onsubmit="">
					<input type="text" class="inputtextHome" data-type="text" value="" placeholder="Task name">
					<div class="placeholder"></div>
					<input type="text" class="inputtextHome" data-type="text" placeholder="Credits per unit (e.g. per hour/task)" value="">
					<div class="placeholder"></div>
					<input type="text" class="inputtextHome" data-type="text" placeholder="Unit (e.g. hour)" value="">
					<div class="placeholder"></div>
					<input type="text" class="inputtextHome" data-type="text" placeholder="Planned time (to do the work)" value="">
					<div class="placeholder"></div>
					<textarea type="text" class="inputtextHome taskdesc" data-type="text" placeholder="Description (What and how to do...)" value=""></textarea>
					<div class="placeholder"></div>
					<button type="submit" class="signup" name="getcredits">Get Credits!</button>
				</form>
			</div>
		</td>
	</tr>
</table>
