<h2 class="site-title">Imprint</h2>

<div class="site-text"> 
	<p>
		Responsible for content and design:<br>
		<br>
		Team Roomie<br>
		University of Applied Sciences Munich, "Web Engineering"<br>
		Supervisor : Prof. Dr. Hof<br>
		<br>
		Team Roomie consists of following students ('14):<br>
		- Werner Huttner<br>
		- Patrick Krempels<br>
		- Christoph Friegel<br>
		<br>
		mobil: +49 176 - 211 920 48<br>
		<br>
		email: info@roomie.xx<br>
		web: www.roomie.de<br>
		<br>
		<%= button_to "Disclaimer", "./disclaimer", :class => "cancelacc", method: :get %>
	</p>
</div>






