<script type="text/javascript" src="./assets/amcharts.js"></script>
<script type="text/javascript" src="./assets/serial.js"></script>
<script type="text/javascript" src="./assets/none.js"></script>       

<script type="text/javascript">
	AmCharts.makeChart("chartdiv",
	{
	    "type": "serial",
		"theme": "none",
	    "dataProvider": [{
			<% controller.appartment_balance.each do |k, v| %>
			        "name": "<%= k.user_name %>", //!
			        "points": <%= v %>,
			        "color": "#7F8DA9",
			        "bullet": "<%= k.Picture %>" //!
			    }, {
			<% end %>
	        "name": "Chris", //!
	        "points": 65456,
	        "color": "#FEC514",
	        "bullet": "./assets/test3.png" //!
	    }, {
	        "name": "Werner", //!
	        "points": 45724,
	        "color": "#0B0E15",
	        "bullet": "./assets/test2.png" //!
	    }],
	    "valueAxes": [{
	        "maximum": 80000, //!
	        "minimum": 0,	  //!
	        "axisAlpha": 0,
	        "gridAlpha": 0,
	        "dashLength": 0,
	        "position": "left"
	    }],
	    "startDuration": 1,
	    "graphs": [{
	        "balloonText": "<span style='font-size:13px;'>[[category]]: <b>[[value]]</b></span>",
	        "bulletOffset": 16,
	        "bulletSize": 34,
	        "colorField": "color",
	        "cornerRadiusTop": 8,
	        "customBulletField": "bullet",
	        "fillAlphas": 1.0, //alpha!
	        "lineAlpha": 0,
	        "type": "column",
	        "valueField": "points",
	        "bulletSize": 75
	    }],
	    "marginTop": 0,
	    "marginRight": 0,
	    "marginLeft": 0,
	    "marginBottom": 0,
	    "autoMargins": false,
	    "categoryField": "name",
	    "categoryAxis": {
	        "axisAlpha": 0,
	        "gridAlpha": 0,
	        "inside": true,
	        "tickLength": 0
	    }
	});
</script>