<a class="footerref" id="contactMe2" href="">Contact</a> · About Us · Imprint

<script type="text/javascript">
<!--
var userName = "unknonwn user"; // this needs some love to be cool
document.getElementById("contactMe2").setAttribute("href","mailto:info@roomie.xx?subject=Request - Ticket 1234&body=My dear roomie support,%0A%0A I got a problem...%0A%0ABest regards, %0A"+userName);
//-->
</script>

<div id="contentCurve"></div>

Roomie © 2014