<a class="footerref" id="contactMe2" href="">Contact</a> · <a class="footerref" href="./aboutus">About Us</a> · <a class="footerref" href="./imprint">Imprint</a>

<script type="text/javascript">
<!--
	<% if user_signed_in? %>
	  var userName = '<%= current_user.user_name %>';
	<% else %>
	  var userName = 'Mr. Someone';
	<% end %>
	document.getElementById("contactMe2").setAttribute("href","mailto:info@roomie.xx?subject=Request - Ticket 1234&body=My dear roomie support,%0A%0A I got a problem...%0A%0ABest regards, %0A"+userName);
//-->
</script>

<div id="contentCurve"></div>

<br>

Roomie © 2014<br><br>
Optimized for Google Chrome 35.0<br>
No compatibility tests for IE