<div class="menu_login_container">
	<form id="login_form" action="" method="post" onsubmit="">
		<input type="hidden" name="lsd" value="BVqdCPlo" autocomplete="off"> <!-- random value -->
		<table cellspacing="0">
			<tbody>
				<tr>
					<td>
						<input type="text" class="inputtext" name="email" id="email" value="" placeholder="Email" tabindex="1">
					</td>
					<td>
						<input type="password" class="inputtext" name="pass" id="pass" tabindex="2" placeholder="Password">
					</td>
					<td>
						<label id="loginbutton" for="logmein">
							<input value="Log in" tabindex="3" type="submit" id="logmein">
						</label>
					</td>
				</tr>
				<tr>
					<td class="login_form_label_field">
						<div>
						<div class="uiInputLabel">
								<input id="persist_box" type="checkbox" name="persistent" value="1" checked="1" class="uiInputLabelInput">
								<label for="persist_box" class="uiInputLabelLabel">
									Keep me logged in
								</label>
							</div>
						</div>
					</td>
					<td class="login_form_label_field">
						<a rel="nofollow" href="">Forgot your password?</a>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
</div>