<%= link_to "TEST LOG IN", test_path %>

<div class="gradient">
	<div class="gradientContent">
		<div class="_5iyy lfloat">
			<div class="_5iyx">
				<h3 class="site-title">Roomie, the shared flat organizer!</h3>

				<div class="site-text">
				<p>Do you live in a shared flat and are you annoyed of lazy roommates, you feel like their mommy because you have to do everything by your own and you get nothing for it? That is over now!</p>
				<p>Roomie is an organizer that monitors the shared flat activity of the roommates. For every activity like cleaning the flat you get credits! This tracking system rewarded the hard-working roomies and identifys the skiver in the flat!</p>
				<p><i>Quasi: Für jeden Penny den man reinsteckt bekommt man Credits. Darüber bekommt man einen Überblick wer wie viel Geld und Zeit in die WG steckt. Letztendlich muss die Credits-Waage ausgeglichen werden, damit niemand zu kurz kommt.</i>
				</div>
			</div>
			</div>
			<div class="_5iyz rfloat">
				<div class="pvl _52lp _59d-">
					<div class="mbs _52lq fsl fwb fcb">Sign Up
					</div>
					<div class="_52lr fsm fwn fcg">It's free and always will be.
					</div>
				</div><div id="registration_container">
				<div>
					<noscript>&lt;div id="no_js_box"&gt;&lt;h2&gt;JavaScript ist in deinem Browser deaktiviert.&lt;/h2&gt;&lt;p&gt;Bitte aktiviere JavaScript in deinem Browser oder installiere einen Browser, der JavaScript unterstützt, um dich hier zu registrieren.&lt;/p&gt;&lt;/div&gt;</noscript>
					<div class="_58mf">
						<div id="reg_box" class="registration_redesign">
							<form method="post" id="reg" name="reg" action="" onsubmit="">
								<input type="hidden" name="lsd" value="VVqdCPlo" autocomplete="off">
								<div id="reg_form_box" class="large_form">
									<div class="_58mh">
										<div class="mrm lfloat _ohe">
											<div class="_5dbb" id="u_0_0">
												<div class="uiStickyPlaceholderInput uiStickyPlaceholderEmptyInput">
													<div class="placeholder" aria-hidden="true">
													</div>
													<input type="text" class="inputtext _58mg _5dba" data-type="text" name="firstname" value="" placeholder="Firstname / Nickname" aria-required="1" id="u_0_1">
												</div>
												<i class="_5dbc img sp_6y74ue sx_9088fa"></i><i class="_5dbd img sp_6y74ue sx_625dcb"></i>
											</div>
										</div>
										<div class="mbm rfloat _ohf">
											<div class="_5dbb" id="u_0_2">
												<div class="uiStickyPlaceholderInput uiStickyPlaceholderEmptyInput">
													<div class="placeholder" aria-hidden="true">
													</div>
													<input type="text" class="inputtext _58mg _5dba" data-type="text" name="lastname" value="" aria-required="1" placeholder="DELETE" id="u_0_3">
												</div><i class="_5dbc img sp_6y74ue sx_9088fa"></i><i class="_5dbd img sp_6y74ue sx_625dcb"></i>
											</div>
										</div>
									</div>
									<div class="mbm">
										<div class="_5dbb" id="u_0_4">
											<div class="uiStickyPlaceholderInput uiStickyPlaceholderEmptyInput">
												<div class="placeholder" aria-hidden="true">
												</div>
												<input type="text" class="inputtext _58mg _5dba" data-type="text" name="reg_email__" value="" placeholder="Your Email" id="u_0_5">
											</div>
											<i class="_5dbc img sp_6y74ue sx_9088fa"></i><i class="_5dbd img sp_6y74ue sx_625dcb"></i>
										</div>
									</div>
									<div class="mbm" id="u_0_6">
										<div class="_5dbb" id="u_0_7">
											<div class="uiStickyPlaceholderInput uiStickyPlaceholderEmptyInput">
												<div class="placeholder" aria-hidden="true">
												</div><input type="text" class="inputtext _58mg _5dba" data-type="text" name="reg_email_confirmation__" value="" aria-required="1" placeholder="Re-enter Email" id="u_0_8">
											</div><i class="_5dbc img sp_6y74ue sx_9088fa"></i><i class="_5dbd img sp_6y74ue sx_625dcb"></i>
										</div>
									</div>
									<div class="mbm">
										<div class="_5dbb" id="u_0_9">
											<div class="uiStickyPlaceholderInput uiStickyPlaceholderEmptyInput">
												<div class="placeholder" aria-hidden="true">
												</div><input type="password" class="inputtext _58mg _5dba" data-type="text" name="reg_passwd__" aria-required="1" placeholder="New Password" id="u_0_a" value="">
											</div><i class="_5dbc img sp_6y74ue sx_9088fa"></i><i class="_5dbd img sp_6y74ue sx_625dcb"></i></div>
										</div>
										<div class="_58mu" id="u_0_h">
											<p class="_58mv">By clicking Sign Up, you agree to our Terms and that you have read our Data Use Policy, including our Cookie Use.</p>
										</div>
										<div>
											<button type="submit" class="uiButton _6j mvm _6wk _6wl _58mi _3ma _6o _6v" name="websubmit" id="u_0_i">Sign Up</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>