<%= link_to "TEST LOG OUT", root_path %>

<br><br>

<h3 class="site-title">HEADER</h3>

<div class="site-text"> 
<p>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla </p>
</div>