<h2 class="site-title">CHOOSE YOUR DESTINY ;D</h2>

<div class="site-text"> 
<p>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla </p>
</div>

<table height="99%" width="100%" id="homeTable">
<tr>
	<td>
		<h2 class="site-title">Create a shared flat</h2>
		<div class="placeholder"></div>
		<div>
			<form method="post" id="reg" name="reg" action="" onsubmit="">
				<input type="hidden" name="lsd" value="VVqdCPlo" autocomplete="off">
				<input type="text" class="inputtextHome" data-type="text" name="shared_flat_name" value="" placeholder="Shared flat name">
				<div class="placeholder"></div>
				<input type="password" class="inputtextHome" data-type="text" name="reg_passwd__" placeholder="Password" value="">
				<div class="placeholder"></div>
				<button type="submit" class="signup" name="websubmit">Create</button>
			</form>
	</td>
	<td>
		<h2 class="site-title">Join an existing shared flat</h2>
		<div class="placeholder"></div>
		<div>
			<form method="post" id="reg" name="reg" action="" onsubmit="">
				<input type="hidden" name="lsd" value="VVqdCPlo" autocomplete="off">
				<input type="text" class="inputtextHome" data-type="text" name="firstname" value="" placeholder="Shared flat name">
				<div class="placeholder"></div>
				<input type="password" class="inputtextHome" data-type="text" name="reg_passwd__" placeholder="New Password" value="">
				<div class="placeholder"></div>
				<button type="submit" class="signup" name="websubmit">Join</button>
			</form>
		</td>
	</tr>
</table>