<%= link_to "TEST LOG OUT", root_path %>

<hr>

<br><br>

<h2 class="site-title">NEW JOB</h2>

<div class="site-text"> 
	<p>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla </p>
</div>