<%= link_to "TEST LOG OUT", root_path %>

<hr>

<br><br>

<h2 class="site-title">NEW JOB</h2>

<div class="site-text"> 
	<p>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla </p>
</div>


<table height="99%" width="100%" id="homeTable">
<tr>
	<td>
		<h2 class="site-title">Select member</h2>
	</td>
	<td>
		<h2 class="site-title">Task properties</h2>
		<div class="placeholder"></div>
		<div>
			<form method="post" action="" onsubmit="">
				<input type="text" class="inputtextHome" data-type="text" value="" placeholder="Date">
				<div class="placeholder"></div>
				<input type="text" class="inputtextHome" data-type="text" placeholder="Task" value="">
				<div class="placeholder"></div>
				<input type="text" class="inputtextHome" data-type="text" placeholder="Amount" value="">
				<div class="placeholder"></div>
				<textarea type="text" class="inputtextHome" data-type="text" placeholder="Comment" value=""></textarea>
				<div class="placeholder"></div>
				<button type="submit" class="signup" name="websubmit">Get Credits!</button>
			</form>
		</td>
	</tr>
</table>