html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-weight:normal;font-style:normal;text-align:left}table{border-collapse:collapse;border-spacing:0;}ol,ul{list-style:none;}q:before,q:after,blockquote:before,blockquote:after{content:"";}

.clear{
	clear:both;
	height:1px;
	margin-bottom:-1px;
}

body{
	background: #586273 url(bg-tile.png) repeat top left;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	color:#1a1f27;
	font-size:62.5%;
	margin:0;
	padding:0;
	height:100%;
}


* {
	outline:0;
	outline-style:none;
	-moz-outline:0;
}

a{
	color:#1a1f27;
	text-decoration: none;
}

a:visited{
	color:#1a1f27;
	text-decoration: none;
}

.column{
	width:800px;
	margin:0 auto;
}

.imgtext{
	display:block;
	background-repeat:no-repeat;
	background-position: top left;
	text-indent: -99999em;
}

.hovFade{
	opacity:0.85;
	opacity:0.90;	
}

.hovFadeLeft{
	opacity:1.00;
}

/***************************************************************************
***************************** SITEWIDE STYLES ******************************
***************************************************************************/

/* header */

#header {
	width:100%;
	height:61px;
	display:block;
	background: url(bg-header.png) repeat-x top center;
	overflow:hidden;
}

#header h1 a{
	width:152px;
	height:29px;
	background: url(title.png) no-repeat top left;
	display:block;
	text-indent:-99999em;
	margin-top:15px;
	float:left;
}

#header h1 a:hover{
	width:173px;

}

#topnav {
	float:right;
	display:block;
	margin-top:13px;
}

#topnav li{
	float:left;
	margin-left:5px;
}

#topnav li a{
	height:33px;
	background-repeat:no-repeat;
	background-position:top left;
	display:block;
	text-indent:-99999px;
}

#topnav li a:active{
	background-position: bottom left;
}


#topnav li.home a{
	width:80px;
	background-image:url(main-nav-home.png);	
}

#topnav li.logout a{
	width:80px;
	background-image:url(main-nav-logout.png);
}

#topnav li.contact a{
	width:80px;
	background-image:url(main-nav-contact.png);
}

#page-home #topnav li.home a{background-position: bottom left; opacity:1;}
#page-about-us #topnav li.about a{background-position: bottom left; opacity:1;}
#page-blog #topnav li.blog a{background-position: bottom left; opacity:1;}
#page-blog-post #topnav li.blog a{background-position: bottom left; opacity:1;}

#container {
	height:100%;
	min-height:100%;
	position:relative;
}

#screen {
	height:100%;
	position:relative;
}

#main{
	width:815px;
	width:900px;
	margin:0 auto;
	background: url(glow-top.png) no-repeat center top;
	position:relative;
	overflow:hidden;
	padding:10px;
	padding-bottom:300px;   /* Height of the footer */
}

#main #gloss-overlay{
	position:absolute;
	top:0;
	left:50%;
	margin-left:-400px;
	background:url(gloss-overlay.png) no-repeat center top;
	width:800px;
	height:128px;
}

#main #cuba-libre-top{
	height:20px;
}

#main #cuba-libre-bot{
	height:30px;
}

/*
#footer {
	overflow:visible;
	background:url(glow-bottom.png) no-repeat center 40px;
	padding-bottom:70px;
}
*/

#footer {
	position:absolute;
	bottom:0;
	width:100%;
	height:300px;   /* Height of the footer */
	background-color:#0e121b;
	background: #0b0e15 url(bg-footer-top.jpg) repeat-x top center;
	color: #848ea2;
}

#pageFooter {
	width:700px;
	margin: 0 auto;
	margin-top:50px;
	position:relative;
	z-index:90;
	color: #737373;
	font-size: 11px;
}

.footerref {
	color: #737373 !important;
}


/***************************************************************************
***************************** PAGE *****************************************
***************************************************************************/

h2#tagline{
	width:580px;
	height:46px;
	background: url(headline.png);
	margin:0 auto;
	margin-top:25px;
	margin-bottom:25px;
	position:relative;
	z-index:90;
}

#sitesHome{
	width:799px;
	height:620px;
	display:block;
	background:url(bg-main-home.png) no-repeat top left;
	margin: 0 auto;
	position:relative;
	color:#1a1f27;
}

#sites{
	width:799px;
	height:620px;
	display:block;
	background:url(bg-main.png) no-repeat top left;
	margin: 0 auto;
	position:relative;
	color:#1a1f27;
}

#sites-bottom{
	height:48px;
	background:url(bg-main.png) no-repeat bottom left;	
	width:799px;
	position:absolute;
	left:0;
	bottom:0;
}

#sidebar{
	width:161px;
	float:left;
	font-size:14px;
	font-weight:bold;
	position:relative;
}

#profile{	
	width:150px;
	height: 150px;
	display:block;
	margin-left:7px;
	top: 8px;
	background-repeat:no-repeat;
	background-position:bottom left;
	background-position:top left;	
	position:relative;
	z-index:75;
	opacity: 0.80;
	background-image:url(profile.jpg);
}

#site-type-nav{
	width:161px;
	margin-top:18px;
	font-size:14px;
	font-weight:bold;
	color:#dce7fa;
	margin-left:2px;
	border-bottom:1px solid #5d6776;
	border-top:1px solid #313742;
	position:relative;
}

#site-type-nav li{
	width:161px;
	height:36px;
	background:url(site-nav-bg.png) no-repeat top left;
}

#site-type-nav li a{
	width:161px;
	height:36px;
	display:block;
	overflow:hidden;
	cursor:pointer;
}

#site-type-nav li a span{
	width:78px;
	height:16px;
	display:block;
	text-indent:-99999em;
	margin-left:20px;
	margin-top:10px;
	background-repeat:no-repeat;
	background-position:bottom left;
	background-position:top left;	
	position:relative;
	z-index:50;
	opacity: 0.65;
}

#site-type-nav li.navoverview a span{	background-image:url(navoverview.png);}	
#site-type-nav li.navmyprofile a span{	background-image:url(navmyprofile.png);}	
#site-type-nav li.navaddjob a span{	background-image:url(navaddjob.png);}	
#site-type-nav li.navtasks a span{	background-image:url(navtasks.png);}	
#site-type-nav li.navlogout a span{	background-image:url(navlogout.png);}	

#site-type-nav li.current{
	position:absolute;
	width:	182px;
	height:	41px;
	display:block;
	background:url(site-nav-current-bg.png) no-repeat top left;
	top:-1px; /*36 á item*/
	left:-7px;
} 

.site {
	width:600px;
	height:540px;
	position:relative;
	margin-right:20px;
	z-index: 100;
	
}

.site-image-wrap{
	padding:10px;
	padding-top:9px;
	padding-bottom:9px;
	position:relative;
	margin-bottom:15px;
}

.site-image-wrap img{
	width:570px;	
	height:288px;
	display:block;
}

.site-image-wrap a{
	display:block
}

.site-image-wrap .overlay{
	position:absolute;
	top:0;
	left:0;
	width:590px;
	height:308px;
	background: url(overlay-image.png) no-repeat top left;
}

h2.site-title{
	font-size:15px;
	font-weight:bold;
	left:10px;
	bottom:18px;
	color:#171E2B;
	text-shadow: 0px 1px 0px #e0e8f5;
	padding-left:1px;
}

h1.site-title{
	font-size:20px;
	font-weight:bold;
	left:10px;
	bottom:18px;
	color:#171E2B;
	text-shadow: 0px 1px 0px #e0e8f5;
	padding-left:1px;
	margin-bottom: -10px;
}

.site-image-wrap a{
	position:absolute;
	left:10px;
	top:9px;
	width:570px;	
	height:288px;
	background: url(button-zoom.png) no-repeat bottom right;
	text-indent:-9999em;
	opacity:0;
	border:0;
}

.site-text{
	color:#1a1f27;
	font-size:12px;
	text-shadow: 0 1px 0 #c6cbd5;
	line-height:19px;
	margin-top:5px;
	margin-left:3px;
	padding-right:12px;
	display:inline;
}

.site-text p{
	margin-bottom:0.5em;
}

.view-the-site-link {
	text-indent:-99999em;
	display:block;
	height:25px;
	width:105px;
	background:url(button-view-the-site.png) no-repeat top left;
	margin-top:10px
	

}
.view-the-site-link:active{
	background-position: bottom left;
}

/***************************************************************************
**************************** SCROLLER STUFF ********************************
***************************************************************************/

#scroller-home-window {
	position:relative; 
	overflow:hidden;          
	height:600px;
	float:left;
	margin-top:18px;
	margin-left:12px;	
	margin-bottom:9px;
	fbackground-color:#f00;
}

#scroller-window,
#scroller-web-window{
	height:540px;
}

#scroller-window {
	position:relative; 
	overflow:hidden;          
	width: 610px;     
	float:right;
	margin-top:18px;
	margin-right:12px;	
	margin-bottom:9px;
	fbackground-color:#f00;
}

#scroller-fade-left,
#scroller-fade-right{
	position:absolute;
	width:10px;
	height:100%;
	top:0px;	
}

#scroller-fade-left{
	left:0px;
	background: url(scroller-fade.png) repeat-y top right;
}


#scroller-fade-right{
	right:0px;
	background: url(scroller-fade.png) repeat-y top left;
}

#scroller-web-window{ 
	overflow:hidden;          
	width: 600px;     
}

#scroller-web-wrap{
	width:10000em;
	position:absolute;
}


#scroller-window .site{
	float:left;
}


#scroller-vertical{
	position:absolute;
	top:0;
	left:10px;
	height: 1380px;
	width:600px;
}


/***************************************************************************
*************************** HOME *******************************************
***************************************************************************/

.inputtextHome {
	border-color: #000;
	-webkit-border-radius: 5px;
	margin: 0;
	width: 177px;
}

.inputtextHome {
	font-size: 11px;
	padding: 8px 10px;
}

.inputtextHome {
	border: 1px solid #000;
}

.signup, .signin {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background-color:#d62828;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #d02718;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:42px;
	line-height:40px;
	width:130px;
	text-decoration:none;
	text-align:center;
	cursor: pointer;
	text-shadow:1px 1px 0px #810e05;
	}.signup:hover {
		background-color:#b51007;
		}.signup:active {
			position:relative;
			top:1px;
		}

/*
#signup input {
	background: blue;
	border: 0;
	color: #000;
	cursor: pointer;
	font-size: 8px;
	font-weight: bold;
	margin: 0;
	padding: 1px 0 2px;
	white-space: nowrap;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	font: -webkit-small-control;
	color: initial;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
	-webkit-writing-mode: horizontal-tb;

	display: inline-block;
	height: 18px;
	padding: 5px 9px;
	white-space: nowrap;
	background: -webkit-gradient(linear,left top,left bottom,from(#8266b6),to(#533787));
	background: -moz-linear-gradient(top,#8266b6,#533787);
	background: -o-linear-gradient(top,#8266b6,#533787);
	background: linear-gradient(top,#8266b6,#533787);
	background-color: #6a4e9e;
	border-top: 1px solid #5b3f8f;
	border-left: 1px solid #412771;
	border-right: 1px solid #412771;
	border-bottom: 1px solid #2a1453;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(0,0,0,0.15);
	text-shadow: 0 1px 0 rgba(0,0,0,0.75);
	-moz-text-shadow: 0 1px 0 rgba(0,0,0,0.75);
	-webkit-text-shadow: 0 1px 0 rgba(0,0,0,0.75);
	color: #fff;
}

signup:-webkit-autofill, textarea:-webkit-autofill {
	background-color: rgb(250, 255, 189);
	background-image: none;
	color: #fff;
	}*/

	#homeTable table tr td {
		border: 0;
	}

	#homeTable table {
		border-spacing: 10px;
		border-collapse: separate;
	}


	#homeTable td
	{
		vertical-align: top;
		padding:10px;
	}

	#flatsharing {
		width:275px;
		height:183px;
		background: url(flatsharing.jpg) no-repeat top left;
		display:block;
		text-indent:-99999em;
		margin-top:15px;
		float:left;
		padding:1px;
		border:1px solid #e0e8f5;
		background-color:#e0e8f5;
	}

	#winnersPodium {
		width:340px;
		height:275px;
		background: url(winners_podium.jpg) no-repeat top left;
		text-indent:-99999em;
		padding:1px;
		border:0;
		display: block;
		margin-left: 20px;
		margin-right: auto;
	}

	.placeholder {
		font-size: 10px;
		padding: 4px 5px;
	}


/***************************************************************************
*************************** HEADER *****************************************
***************************************************************************/

.menu_login_container{
	margin-top: -3px;
}

.menu_login_container .login_form_label_field {
	padding-top: 4px;
}

.menu_login_container .login_form_label_field a, .menu_login_container .login_form_label_field label {
	color: #98a9ca;
	font-weight: normal;
}

.menu_login_container table tr td {
	padding: 0 0 0 14px;
}

.menu_login_container .html7magic label {
	color: #fff;
	font-weight: normal;
	padding-left: 1px;
}

.menu_login_container #email {
	direction: ltr;
}

.menu_login_container .inputtext, .menu_login_container .inputpassword {
	border-color: #151A25;
	margin: 0;
	width: 142px;
	font-size: 11px;
	padding-left:  7px;
	-webkit-border-radius: 5px;
}

textarea, .inputtext, .inputpassword {
	border: 1px solid #000;
	margin: 0;
	padding: 3px;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

#loginbutton input, .uiButton button {
	border: 0;
	cursor: pointer;
	font-size: 8px;
	font-weight: bold;
	color: #fff;
	margin: 0;
	white-space: nowrap;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	font: -webkit-small-control;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
	-webkit-writing-mode: horizontal-tb;
	-webkit-border-radius: 5px;
	white-space: nowrap;

	background: -webkit-gradient(linear,left top,left bottom,from(#4C5667),to(#646F82));
	background: -moz-linear-gradient(top,#4C5667,#646F82);
	background: -o-linear-gradient(top,#4C5667,#646F82);
	background: linear-gradient(top,#4C5667,#646F82);
	background-color: #6a4e9e;

	border-top: 1px solid #99A9C4;
	border-left: 1px solid #646F82;
	border-right: 1px solid #637185;
	border-bottom: 1px solid #646F82;

	box-shadow: inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(0,0,0,0.15);

	padding: 2px 9px 2px 9px; /* top right bottom left */
}

#loginbutton input:active, .uiButton input:active, .uiButton button:active {
	background: -webkit-gradient(linear,left top,left bottom,from(#5A6271),to(#606774));
	border-top: 1px solid #383E47;
	border-left: 1px solid #383E47;
	border-right: 1px solid #383E47;
	border-bottom: 1px solid #383E47;
	box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.0);
	-moz-box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.0);
	-webkit-box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.0);
}

#loginbutton input:hover, .uiButton input:hover, .uiButton button:hover {
	text-shadow: 1px 2px 3px rgba(255,255,102,0.50);
	-moz-text-shadow: 1px 2px 3px rgba(255,255,102,0.50);
	-webkit-text-shadow: 1px 2px 3px rgba(255,255,102,0.50);
}

.uiInputLabel .uiInputLabelLabel {
	display: inline-block;
	margin-left: 17px;
	vertical-align: baseline;
}

.uiInputLabelInput {
	margin: 0;
	padding: 0;
	position: absolute;
}

.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

/***************************************************************************
*************************** CHARTS *****************************************
***************************************************************************/

#chartdiv {
	width		: 100%;
	height		: 500px;
	font-size	: 11px;
}


/***************************************************************************
*************************** ALERT ******************************************
***************************************************************************/

.alert-init {
  width:600px;
  display:block;
  margin: 0 auto;
  position:relative;
  text-align: left;
 }

.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 15px;
  margin-bottom: 30px;
  border: 1px solid transparent;
  border-radius: 4px;
 }

.alert-alert {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
  text-align: left;
 }

.alert-block {
  font-size: 12px;
  padding: 15px;
  margin-bottom: 30px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  text-align: left;
 }

.alert-notice {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
  text-align: left;
 }