<h2 class="site-title">MY PROFILE</h2>

<div class="site-text"> 
<p>This is your world, your own flat, your roomie profile! You can change your profile details or change your shared flat and switch to another one.</p>
</div>


<table height="99%" width="100%" id="homeTable">
<tr>
	<td>
		<h2 class="site-title">Profile details</h2>
		<div class="placeholder"></div>
		<div>
			<form method="post" action="" onsubmit="">
				<input type="text" class="inputtextHome" data-type="text" value="" placeholder="Username">
				<div class="placeholder"></div>
				<input type="password" class="inputtextHome" data-type="text" name="reg_passwd" placeholder="New Password" value="">
				<div class="placeholder"></div>
				<input type="text" class="inputtextHome" data-type="text" placeholder="Email" value="">
				<div class="placeholder"></div>
				<div class="placeholder"></div>
				<input type="text" class="inputtextHome" data-type="text" placeholder="Profile picture (URL)" value="">
				<div class="placeholder"></div>
				<button type="submit" class="signup" name="saveprofile">Save profile</button>
			</form>
	</td>
	<td>
		<h2 class="site-title">Change shared flat</h2>
		<div class="placeholder"></div>
		<div>
			<form method="post" action="" onsubmit="">
				<input type="text" class="inputtextHome" data-type="text" value="" placeholder="Shared flat">
				<div class="placeholder"></div>
				<input type="password" class="inputtextHome" data-type="text" name="reg_passwd" placeholder="New Password" value="">
				<div class="placeholder"></div>
				<button type="submit" class="signup" name="changeflat">Change flat</button>
			</form>
		</td>
	</tr>
</table>