<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://www.w3.org/2006/03/hcard">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>ROOMIE</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

  <link rel="stylesheet" href='./assets/main.css' media="screen, siteion">  
  <link rel="stylesheet" href="./assets/jquery.fancybox.css" type="text/css" media="screen, siteion">		

  <script type="text/javascript" src="./assets/jquery.min.js"></script>
  <script type="text/javascript" src="./assets/main.js"></script>	
</head>
<body id="page-home" class="" cz-shortcut-listen="true">

  <div id="container">

   <!-- #header -->
   <div id="header">
    <div class="column">
     <h1><a href="index.htm">Roomie</a></h1>
     <ul id="topnav">
      <li class="home"><a href="index.htm" class="hovFade" style="opacity: 1;">Home</a></li>
      <li class="about"><a href="" class="hovFade" style="opacity: 0.8999999761581421;">About Us</a></li>
      <li class="contact"><a href="" class="hovFade">Contact</a></li>
    </ul>
  </div>	
</div>
<!-- #header -->

<!-- #main -->
<div id="main">
  <h2 id="tagline" class="imgtext">Slogan</h2>

  <div id="sites">
    <div id="sites-bottom"></div>

    <div id="sidebar">
      <div id="profile"></div>

      <!-- #nav -->
      <ul id="site-type-nav">
        <li class="web"><a><span>Web</span></a></li>		
        <li class="web2"><a><span>iPhone</span></a></li>
        <li class="web3"><a><span>Desktop</span></a></li>
        <li class="current"></li>
      </ul>
      <!-- #nav -->
    </div>

    <div id="scroller-window">
      <div id="scroller-vertical">
       <div id="scroller-web-window">
         <div id="scroller-web-wrap">		

          <div class="site">

            <%= yield %>

          </div>

        </div>
      </div>		

      <div id="scroller-desk-window">
       <div id="scroller-desk-wrap">		

       </div>
     </div>

   </div>
 </div>



 <div id="gloss-overlay"></div>
</div>
<div id="cuba-libre"></div>
</div>
<!-- #main -->

<!-- #footer -->
<div id="footer">
  <font color="white">MR FOOTER HERE !!!!!</font>
</div>
<!-- #footer -->

</div>
<!-- #container -->

</body>
</html>