<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://www.w3.org/2006/03/hcard">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>ROOMIE</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

  <link rel="stylesheet" href='./assets/main.css' media="screen, siteion"> 
  
  <script type="text/javascript" src="./assets/jquery.min.js"></script>
  <script type="text/javascript" src="./assets/main.js"></script> 
</head>
<body id="page-home" class="" cz-shortcut-listen="true">

  <div id="container">

   <!-- #header -->
   <div id="header">
    <div class="column">
     <h1><a href="/">Roomie</a></h1>
     <div id="topnav">
      <%= render "shared/header" %>
    </div>
  </div>  
</div>
<!-- #header -->

<!-- #main -->
<div id="main">
  <div id="cuba-libre-top"></div>
  <!--<h2 id="tagline" class="imgtext">Slogan</h2>-->

  <div id="sitesHome">

    <div id="scroller-home-window">

      <%= yield %>

    </div>

  </div>
  <div id="cuba-libre-bot"></div>
</div>
<!-- #main -->

<!-- #footer -->
<div id="footer">
  <div id="pageFooter">
    <%= render :partial => "shared/footer" %>
  </div>
</div>
<!-- #footer -->

</div>
<!-- #container -->

</body>
</html>